

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*

log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json

$RECYCLE.BIN/
.idea/
node_modules/
platforms
plugins/
plugins/ios.json
www/
www/build/
www/**/*.js
www/**/*.map
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
